@font-face {
  font-family: font1;
  src: url("./assets/fonts/static/WorkSans-Bold.ttf");
}
@font-face {
  font-family: font2;
  src: url("./assets/fonts/static/WorkSans-Regular.ttf");
}
@font-face {
  font-family: font3;
  src: url("./assets/fonts/static/WorkSans-SemiBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  background-image: url(./assets/images/background-pattern-desktop.svg);
}
@media (max-width: 450px) {
  body {
    background-image: url(./assets/images/background-pattern-mobile.svg);
    min-height: 100vh;
  }
}

.container {
  max-width: 700px;
  
  border-radius: 15px;
  background: white;
  padding: 15px;
  
  
  
}
.container .header-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2rem;
}
.container .header-conatiner h1 {
  margin-left: 20px;
  font-size: 3rem;
  font-family: "font1";
  color: hsl(292, 42%, 14%);
}
.container .accordion {
  max-width: 600px;
  height: auto;
  font-family: "font3";
}
.container .accordion .content-box {
  position: relative;
  margin: 10px 20px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.13);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.container .accordion .content-box .label {
  position: relative;
  padding: 19px 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 0.7rem;
  cursor: pointer;
}
@media (max-width: 450px) {
  .container .accordion .content-box .label {
    font-size: 0.5rem;
    padding-right: 25px;
  }
}
.container .accordion .content-box .label::before {
  content: url("./assets/images/icon-plus.svg");
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 450px) {
  .container .accordion .content-box .label::before {
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.container .accordion .content-box .label h2 {
  margin-right: 15px;
  color: hsl(292, 42%, 14%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.container .accordion .content-box .label h2:hover {
  color: hsl(276, 41%, 85%);
}
.container .accordion .content-box .text {
  position: relative;
  color: hsl(292, 42%, 14%);
  opacity: 70%;
  padding: 0 10px;
  font-size: 0.8rem;
  line-height: 1.3rem;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.container .accordion .active {
  height: auto;
  padding: 10px 0;
  position: relative;
}
.container .accordion .active .text {
  height: auto;
}

.accordion .content-box.active .label::before {
  content: url("./assets/images/icon-minus.svg");
}

.attribution {
  margin-top: 10px;
  color: white;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */
